@import "@/app/styles/variables.module";

.projectCardGrid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-column-gap: 4rem;

    @media screen and (max-width: $screen-m) {
        grid-template-columns: auto;
    }
}

.projectCardHeading {
    font-weight: bolder;
    letter-spacing: 1.5pt;
    margin-bottom: 1rem;
}

.titleBorder {
    color: $gold;
    opacity: 0.85;
}

.projectSeparator {
    color: $gold;
    opacity: 0.55;
}

.projectCardSubtitle {
    font-style: italic;
    font-size: 1rem;
    color: $lightBlue;
}

.projectLink {
    color: $lightBlue;

    opacity: 0.85;
    font-weight: normal;
    font-size: 0.8rem;

    a {
        border-bottom: 1px solid $lightBlue;
        text-decoration: none;
    }
}

.projectLink a:hover {
    color: white;
    border-bottom: 1px solid $gold;
}
