@import "@/app/styles/variables.module";

.projectCardGrid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-column-gap: 4rem;

    @media screen and (max-width: $screen-m) {
        grid-template-columns: auto;
    }
}

.projectCardHeading {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.titleBorder {
    border-top: 3px solid $projectPink;
    opacity: 1;
}

.projectCardSubtitle {
    font-size: 1rem;
    color: $midBlue;
}

.projectLink {
    opacity: 0.85;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 2rem;

    a {
        border-bottom: 1px solid $cornflowerBlue;
        text-decoration: none;
    }

    a:hover {
        background-color: $sunflowerYellow;
        border-bottom: 0;
    }
}
