/* My own colors */
@import "variables.module";

/* Bootstrap overrides */
$primary: $darkBlue;
$secondary: $cornflowerBlue;
$dark: $midBlue;
$light: $lightBlue;

@import "~bootstrap/scss/bootstrap.scss";

:root {
    --font-bodoni-moda: var(--font-bodoni-moda);
    --font-playfair-display: var(--font-playfair-display);
}

html {
    height: 100%;
    color: $darkBlue;
    font-family: var(--font-bodoni-moda), serif;
    scroll-behavior: smooth;
}

body {
    color: $darkBlue;
    background: linear-gradient($lightBackground 100%, transparent 0%) no-repeat;
    font-family: var(--font-bodoni-moda), serif;
}

p a {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(85, 140, 230, 1), rgba(85, 140, 230, 1)),
        linear-gradient(
            to right,
            rgba(255, 166, 128, 1),
            rgba(230, 85, 157, 1),
            rgba(85, 140, 230, 1),
            rgba(16, 18, 161, 1)
        );
    background-size:
        100% 3px,
        0 3px;
    background-position:
        100% 100%,
        0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

p a:hover {
    background-size:
        0 3px,
        100% 3px;
}

h1,
h2,
h3 {
    font-family: var(--font-playfair-display), serif;
    font-weight: 400;
    margin: 2rem 0;
}
