/* My own colors */
@import "variables.module";

/* Bootstrap overrides */
$primary: white;
$secondary: $gold;

@import "~bootstrap/scss/bootstrap.scss";

:root {
    --font-garamond: var(--font-bodoni-moda);
    --font-playfair-display: var(--font-playfair-display);
}

html {
    height: 100%;
    color: white;
    font-family: var(--font-bodoni-moda), serif;
}

body {
    color: white;
    background: linear-gradient($backgroundTeal 100%, transparent 0%) no-repeat;
    font-family: var(--font-bodoni-moda), serif;
}

p a {
    color: $gold;
    border-bottom: 1px solid $gold;
    text-decoration: none;
    font-style: italic;
}

p a:hover {
    border-bottom: 1px solid transparent;
}

h1,
h2,
h3 {
    font-family: var(--font-playfair-display), serif;
    font-weight: 400;
    margin: 2rem 0;
}
