/* Theme Colors */
$cinereous: #8b786d;
$alabaster: #ecebe4;
$richblack: #071e22;
$puce: #cf8ba9;

/* Breakpoints */
$screen-xs: 576px;
$screen-m: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
