/* New colors */
$lightBackground: #f7faff;
$cornflowerBlue: #558ce6;
$midBlue: #2f4873;
$sunflowerYellow: #fff980;
$darkBlue: #0e1521;
$lightBlue: #afc6ed;

/* Section color themes */
$skillsOrange: #ffa680;
$projectPink: #e6559d;
$funFactsViolet: #1f1361;

/* Pastel colors for effects */
$pastelOrange: #fbcab5;
$pastelPink: #e79dc2;
$pastelViolet: #cc95c0;
$pastelBlue: #95b5eb;

/* Breakpoints */
$screen-xs: 576px;
$screen-m: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
