@import "src/app/styles/variables.module";

.subtitle {
    color: $cornflowerBlue;
}

.easierToRead {
    letter-spacing: 0.15pt;
    line-height: 1.5rem;

    @media screen and (max-width: $screen-m) {
        line-height: 1.25rem;
    }
}

.reducedHierarchy {
    opacity: 0.8;
}

.technologyTag {
    display: inline-block;
    padding: 0 0.25rem;
}
