@import "@/app/styles/variables.module";

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentContainer {
    flex-grow: 1;
    overflow: hidden;
    padding: 2rem 7rem 100px 7rem;
    text-align: left;

    @media screen and (max-width: $screen-m) {
        padding: 2rem 4rem;
    }
    /* must be same height as the footer */
}
