@import "src/app/styles/variables.module";

.type {
    text-transform: uppercase;
    color: $midBlue;
}

.heading {
    color: $cornflowerBlue;
}

.workshopLink {
    text-decoration: none;
}

.workshopLink:hover {
    border-bottom: 0;
}
