@import "src/app/styles/variables.module";

.funFactsCardGrid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-column-gap: 4rem;

    @media screen and (max-width: $screen-m) {
        grid-template-columns: auto;
    }
}

.funFactsCardHeading {
    font-weight: bolder;
    letter-spacing: 1.5pt;
    margin-bottom: 1rem;
}

.titleBorder {
    color: $gold;
    opacity: 0.85;
}

.funFactsImg {
    max-width: 100%;
    height: auto;
}
