@import "../../../styles/variables.module";

.introHeading {
    color: $richblack;
    font-family: var(--font-yeseva-one);
}

.avatar {
    width: 350px;
    height: auto;
    border-radius: 50%;
}
