@import "@/app/styles/variables.module";

.pastelGradient {
    background-image: linear-gradient(to right, $pastelOrange 0%, $pastelPink 51%, $pastelViolet 100%) !important;
    transition:
        background-position 0.5s ease-in-out,
        filter 0.3s ease-in-out;
    background-size: 200% 200%;
    background-position: 0 50%;
}

.pastelGradient:hover {
    background-position: 100% 50%;
    filter: brightness(1.2);
}

.textStyling {
    letter-spacing: 0.5pt;
    font-weight: 900;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 0.15rem;
}
