@import "@/app/styles/variables.module";

.footer {
    font-weight: 200;
    position: relative;
    margin-top: -100px;
    height: 100px;
    clear: both;
    background-color: transparent;
    padding: 2rem 7rem;
    text-align: left;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $screen-m) {
        padding: 2rem 4rem;
    }
}
