.responsibilityList {
    ul {
        list-style-type: none;
    }

    ul li:before {
        content: "\2014";
        position: absolute;
        margin-left: -23px;
        color: white;
    }
}
